body {
    background-image: url("../images/houndstooth-pattern.png");
    background-size: 400px;
    background-repeat: repeat;
  }

.header-wrapper {
    background-color: #ffffff;
    border-color: #cccccc;
}

#nav-left {
    background-color: #4aaaa5;
    color: white;
    float: left;
}
#nav-right {
    top: 0;
    right: 30%;
    float: right;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}
#about-section {
    float: left;
}
img {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#about-me {
    
}
#about-me-paragraph {
    
}